<div id="htmxresult" hx-swap-oob="outerHTML">
  <p class="small-title">Résultat</p>

  <div class="result-audio">
      <audio id="audio-result" src="media/{{ path }}.wav" type="audio/wav"></audio> 

      <div id="playbutton-result" class="playbutton dds__icon dds__icon--play-cir">

      </div>

      <div id="spectrum-result"></div>

      <p id="caption-result">{{ prompt }}</p>

      <div id="myProgress" style="display: none;">
        <div id="myBar"></div>
      </div>

      <script>
        addAudioWave("result", 50)
        addControls("result")
        endLoad()
      </script>
  </div>
</div>

<div id="demo-container" hx-swap-oob="afterbegin">

    <div class="small-result-audio">
        <p>Créé par : {{ user }}</p>
        <audio id="audio-{{ path }}" src="media/{{ path }}.wav"></audio>
        <div id="playbutton-{{ path }}" class="dds__icon dds__icon--play-cir playbutton"></div>
        <div id="spectrum-{{ path }}"></div>
        <p>{{ prompt }}</p>

        <script>
            addAudioWave("{{ path }}", 50)     
            addControls("{{ path }}")        
        </script>
    </div>

</div>