<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicIA - 1.0</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'home/script.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <!-- Include full jQuery -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/7.7.15/wavesurfer.min.js"></script>
    
    <link rel="stylesheet" crossorigin href="https://dds.dell.com/components/2.41.0/css/dds-icons.min.css" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'home/styleL.css' %}">
    <link rel="stylesheet" href="{% static 'home/virtual-select.min.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    


    <script src="{% static 'home/virtual-select.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            console.log('Document is ready');
            $(".gen").on("click", function() {
                lazyLoad()
            });
        });
    </script>


</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="{% static 'home/logo-delltech-header-white-300x39_1.png' %}" alt="logo dell">
            <p>|</p>
            <p>MUSICIA</p>
        </div>
        <div>
            <p data-index="0" class="navig">ACCUEIL</p>
            <p data-index="1" class="navig">EXEMPLES</p>
            <P data-index="2" class="navig">ABOUT</P>
        </div>
        <div class="right-nav">
            <img src="{% static 'home/upvm3.png' %}" alt="logo paul va" height="40px">
            <img src="{% static 'home/miashs_logo.png' %}" alt="logo miashs" height="65">
        </div>
    </nav>

    <div id="camera-overlay">
        <div id="camera-display">
            <div id="camera-top">
                <p>Emotion : ?</p>
                <span class="dds__icon dds__icon--close-x" hx-get="/cam" hx-trigger="click"></span>
            </div>

            <div id="camera-api"><!-- CAMERA API --></div>
            <div id="camera-bottom">
                <div><p>CAPTURER</p></div>
                <div><p>L'appareil va prendre une photo pour déterminer votre émotion actuelle, à l'aide de reconnaissance faciale.</p></div>
            </div>
            
            
        </div>
    </div>
    
    <div class="snaping" id="sn">
        <div class="snaping-element" id="sn-0">
            <div id="head-projet">
                <h1>Projet MusicIA</h1>
                <p>Le Projet MusicIA est une solution innovante qui permet de générer de la musique à partir d'un simple prompt textuel. 
                    Utilisant des algorithmes avancés d'intelligence artificielle, cette plateforme traduit des descriptions et des instructions en compositions musicales uniques et personnalisées.
                    Morceaux originaux pour des films, des jeux vidéo, ou tout autre projet créatif, MusicIA offre une approche révolutionnaire pour transformer les idées en réalité sonore, l'outil parfait pour les musiciens et créateurs de contenue.
                

                </p>
            </div>

            <div id="playground">
                <h2>À vous de jouer !</h2>
                <div id="generator">
                    <div class="section">
                        <p>Générez depuis votre propre prompt</p>

                        <label for="prompt">Écrivez une phrase pour décrire la musique que vous voulez entendre</label>
                        <input type="text" name="prompt" id="prompt" placeholder="Par exemple : 'melancolic hard rock with huge bass'">

                        <label for="name">Votre nom pour la gloire</label>
                        <input type="text" name="name" id="name" placeholder="Pour être exposé dans notre galerie d'art !">
                        
                        <input class="gen" type="button" value="GÉNÉRER" hx-get="api" hx-trigger="click" hx-swap-oob="true" hx-vals="js:{prompt: getValue('prompt'), name: getValue('name')}">
                    </div>

                    <div class="trait"></div>

                    <div class="section">
                        <p>Générez depuis des paramètres</p>
                        
                        <label for="instruments">Instruments</label>
                        <div id="instruments"></div>

                        <script>
                            // https://www.cssscript.com/select-box-virtual-scroll/
                            myOptions = [
                                { label: 'Guitare', value: 'guitar'},
                                { label: 'Batterie', value: 'drums'},
                                { label: 'Piano', value: 'piano'},
                                { label: 'Violon', value: 'violin'},
                            ]

                            VirtualSelect.init({ 
                                ele: '#instruments',
                                options:myOptions,
                                multiple: true,
                                search:false,
                            });
                        </script>
                        
                        <div class="section dual">
                            <div class="section">
                                <label for="genre">Genre</label>
                                <select name="genre" id="genre">
                                    <option value="" selected>Aléatoire</option>
                                    <option value="rock">Rock</option>
                                    <option value="jazz">Jazz</option>
                                    <option value="rap">Rap</option>
                                    <option value="classic">Classic</option>
                                    <option value="metal">Metal</option>
                                    <option value="pop">Pop</option>
                                </select>
                                
                            </div>

                            <div class="section">

                                <!-- # angry, fear, neutral, sad, disgust, happy and surprise -->
                                <label for="emotion">Émotion</label>
                                <select name="emotion" id="emotion">
                                    <option id="0" value="" selected>Neutre</option>
                                    <option id="1" value="joyful">Joyful</option>
                                    <option id="2" value="happy">Happy</option>
                                    <option id="3" value="sad">Sad</option>
                                    <option id="4" value="melancolic">Melancolic</option>
                                    <option id="5" value="angry">Angry</option>
                                    <option id="6" value="enrageous">Enrageous</option>
                                </select>
                            </div>

                            <!-- <span class="cam-button"></span> -->
                            <span class="cam-button dds__icon dds__icon--camera" hx-get="/cam" hx-trigger="click"></span>
                        </div>

                        <label for="name">Votre nom pour la gloire</label>
                        <input type="text" name="name" id="name" placeholder="Pour la postérité...">
                    
                        <input class="gen" type="button" value="GÉNÉRER" hx-get="categ" hx-trigger="click" hx-swap-oob="true" hx-vals="js:{instruments: getValue('instruments'), genre: getValue('genre'), emotion: getValue('emotion'), name: getValue('name')}">
                    </div>
                </div>

                <div id="htmxresult" style="display:none">
                    <p class="small-title">Résultat</p>
                  
                    <div class="result-audio">
                        <audio id="audio-result" src="media/HBQSY.wav" type="audio/wav"></audio> 
                        <div id="playbutton-result" class="playbutton dds__icon dds__icon--play-cir"></div>
                        <div id="spectrum-result"></div>
                        <p id="caption-result">CECI EST UN BRAQUAGE</p>
                    </div>
                  

                    <script>
                        addAudioWave("result", 50)             
                    </script>
                </div>

            </div>
        </div>
        <div class="snaping-element" style="background-color: #0C32A4;" id="sn-1">
            <h2 class="wr-page2">Démonstrations</h2>
        
            <div id="demo-container" class="demonstrations">
                <!-- Afficher les audios ici -->
                {% for audio in audio_files %}
                    <div class="small-result-audio">
                        <p>Créé par : {{ audio.user }}</p>
                        <audio id="audio-{{ audio.id }}" src="{{ audio.url }}"></audio>
                        <div id="playbutton-{{ audio.id }}" class="dds__icon dds__icon--play-cir playbutton"></div>
                        <div id="spectrum-{{ audio.id }}"></div>
                        <p>{{ audio.prompt }}</p>

                        <script>
                            addAudioWave("{{ audio.id }}", 30)     
                            addControls("{{ audio.id }}")        
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>



        <div class="snaping-element">
            <h2 class="wr-page3">Qui sommes nous ?</h2>
            
            <div class="content-wrapper">
                <div class="left-frame">
                    <div class="inner-frame">
                        <div class="numero numero1">
                            <details class="fenetre">
                                <summary>
                                    <h3>Numéro 1</h3>
                                    <img src="{% static 'home/usericon.png' %}" height="300px">
                                    <p class="fenetre-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque nostrum facere sequi...</p>
                                    <span class="afficher-plus">afficher plus</span>
                                </summary>
                                <p class="full-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque nostrum facere sequi, modi tempora ea incidunt laborum enim, fugiat quaerat in voluptate natus ipsam ex impedit. Praesentium, saepe nulla?</p>
                                <span class="afficher-moins">afficher moins</span>
                            </details>
                        </div>
                        <div class="numero numero2">
                            <details class="fenetre">
                                <summary>
                                    <h3>Numéro 2</h3>
                                    <img src="{% static 'home/usericon.png' %}" height="300px">
                                    <p class="fenetre-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque nostrum facere sequi...</p>
                                    <span class="afficher-plus">afficher plus</span>
                                </summary>
                                <p class="full-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque nostrum facere sequi, modi tempora ea incidunt laborum enim, fugiat quaerat in voluptate natus ipsam ex impedit. Praesentium, saepe nulla?</p>
                                <span class="afficher-moins">afficher moins</span>
                            </details>
                        </div>
                    </div>
                </div>
                <div class="right-frame">
                    <div class="paulva">
                        <h3>Paul Valéry / Licence MIASHS</h3>
                        <img src="{% static 'home/upvm3.png' %}" alt="logo paul va" height="100px">
                        <img src="{% static 'home/miashs_logo.png' %}" alt="logo miashs" height="100px">
                    </div>
                </div>
            </div>
        </div> 
        
</body>
</html>