body{
    background-color: black;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: row; 
    color: white;
    justify-content: space-around;
    align-items: center; 
    gap: 15px;
}


nav div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}




