body{
    background-color: black;
}



nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center; 
    gap: 15px;

    div {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 300px;
        justify-content: center;
        margin: 0 20px;
    }

    .right-nav {
        justify-content: end;
    }

    .left-nav {
        justify-content: start;
    }
}


.wr-page2{
    text-align: center;
    color: white;
}

.par-btn {
    text-align: center;
}

.par-btn button {
    border:solid 2px white;
    margin: 10px;
    margin-left: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #0C32A4;
    color:#FFF;
    width: 100px;
    border-radius: 10px;
    padding: 5px 10px
}

.par-btn button:hover {
    background-color: white;
    color: #0C32A4;
}