body{
    background-color: black;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center; 
    gap: 15px;

    div {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 300px;
        justify-content: center;
        margin: 0 20px;
    }

    .right-nav {
        justify-content: end;
    }

    .left-nav {
        justify-content: start;
    }
}




