:root {
    --margin:0 350px;
}



html {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow-y: hidden;
}

.snaping {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 74px);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    ::-webkit-scrollbar {
        display: none;
    }
}

.snaping-element {
    width: 100vw;
    height: calc(100vh - 74px);
    scroll-snap-align: start;
}

#head-projet {
    height: 150px;
    background-color: black;
    color:#E5F8FF;
    text-align: center;

    p {
        margin: var(--margin);
        font-size: 16px;
    }
}

#playground {
    background-color: white;
    height: calc(100% - 150px);
    color:#2A145A;
    text-align:center;

}

h1 {
    font-weight: lighter;
    font-size: 36px;
    padding-top: 20px;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    padding-top: 25px;
}

#generator {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    margin: var(--margin);
    transition: .5s all;

    div {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    input {
        border-radius: 10px;
        border:solid 2px #2A145A;
        margin: 10px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

    input[type=button] {
        background-color: #2A145A;
        color:#FFF;
        width: 100px;
        padding: 5px 10px;
        cursor: pointer;
    }

    input[type=text] {
        height: 20px;
        padding: 5px 10px;
        /* width:inherit */
    }

    p {
        font-weight: bold;
        margin-left:10px ;
    }

    .trait {
        margin: auto;
    }

    #prompt {
        height: 100px;
    }

    label {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: -5px;
        margin-left: 10px;
    }

    .dual {
        flex-direction: row;

        div {
            width: 50%;
        }
    }
}

.trait {
    height: 50px;
    border: solid 1px #2A145A;
    width: 0;
}



.result-audio {
    margin: var(--margin);
    display: grid;
    grid-template-columns: min-content;
    align-items: center;
    background:linear-gradient(90deg, rgba(13,33,85,1) 0%, rgba(12,50,164,1) 100%);
    color:white;
    border-radius: 10px;
    gap:10px;
    padding: 10px;

    #playbutton {
        font-size: 35px;
        justify-self: center;
        color:#E5F8FF;
        cursor: pointer;
    }

    p {
        grid-column: span 2;
        margin:0;
    }
}

.warning {
    background:linear-gradient(90deg, #691D3F  0%, #B30B37 100%);
    
    #playbutton {
        grid-column: span 2;
    }
}

.small-title {
    font-weight: bold;
    text-align: start;
    margin: var(--margin);

    margin-top: 15px;
    margin-bottom: 15px;
}

.htmx-settling img {
    opacity: 0;
}

img {
    transition: opacity 300ms ease-in;
}

@keyframes opacity-load {
    from {
        opacity: 100%;
    }

    to {
        opacity: 50%;
    }
}

.anim {
    animation: 1.5s linear infinite alternate opacity-load;
}

.opa-min {
    opacity: 50%;
}

@media (max-width:1700px) {
    :root {
        --margin:0 200px
    }
}

@media (max-width:1300px) {
    :root {
        --margin:0 100px
    }
}

@media (max-width:1000px) {
    :root {
        --margin:0 50px
    }
}

@media (max-height:760px) {
    .snaping {
        scroll-snap-type: none;
        height: unset;
        overflow-y: unset;
    }

    .snaping-element {
        height: 700px;
    }

    body {
        overflow-y: auto;
    }
}

@media (max-width:900px) {
    .snaping-element {
        height: auto;
    }

    #generator {
        grid-template-columns: unset;
        gap:20px
    }

    .trait {
        height: 0;
        width: 250px;
    }
}

@media (max-width:500px) {
    :root {
        --margin:0 25px
    }
}

@media (max-width:470px) {
    #generator {
        .dual {
            display: block;

            div {
                width: 100%;
            }
            
        }
    }
    
}

